<footer class="bg-evergreen text-sand py-30 md:py-40 leading-snug">
  <div class="site-container">
    <div class="md:grid md:grid-cols-12 md:gap-15">
      <div class="md:col-span-6">
        <div class="md:grid md:grid-cols-12 md:gap-15">
          <div class="md:col-span-6 flex mb-30 md:mb-0">
            <div>
            {{ partial:icons/symbol :class="'block w-36 lg:w-52 h-auto'" }}
            </div>
            <div class="ml-15 lg:ml-30 md:mt-6">
              <strong class="uppercase">Gartenkultur<br>vom Fach</strong>
            </div>
          </div>
          <div class="md:col-span-6 mb-15 md:mt-6">
            <a href="https://goo.gl/maps/heXjzQc1vzjq1XvT8" target="_blank" rel="noopener" title="Google Maps öffnen" class="hover:text-white transition-colors">
              <strong>ZÜRIGÄRTNER GmbH</strong><br>
              Fuchsiastrasse 11<br>
              8048 Zürich 
            </a>
          </div>
        </div>
      </div>
      <div class="md:col-span-6">
        <div class="md:grid md:grid-cols-12 md:gap-15">
          <div class="md:col-span-6 mb-30 md:mt-6 md:mb-0">
            <a href="tel:0412011444" target="_blank" rel="noopener" title="Telefon 041 201 14 44" class="hover:text-white transition-colors">041 201 14 44</a><br>
            <a href="mailto:info@zürigärtner.ch" target="_blank" rel="noopener" title="E-Mail info@zürigärtner.ch" class="hover:text-white transition-colors">info@zürigärtner.ch</a><br>
            <a href="https://www.zürigärtner.ch" target="_blank" rel="noopener" title="Webseite zürigärtner.ch" class="hover:text-white transition-colors">www.zürigärtner.ch</a>
          </div>
          <div class="md:col-span-6 md:mt-6">
            <a href="/" rel="noopener" title="Impressum" class="hover:text-white transition-colors">Impressum</a><br>
            <a href="/" rel="noopener" title="Datenschutz" class="hover:text-white transition-colors">Datenschutz</a><br>
            <a href="https://stoz.ch" target="_blank" rel="noopener" title="Stoz AG" class="hover:text-white transition-colors">Design by Stoz</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>