<section class="site-container-wide bg-vanilla py-30 md:py-40">
  <a name="kontakt" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container">
    <h1 class="text-evergreen">Kontakt</h1>
    <div class="md:grid md:grid-cols-12 md:gap-15">
      <div class="md:col-span-6">
        <h2 class="mb-15 pr-40">Wir beraten und unterstützen sie gerne bei ihrem nächsten Gartenprojekt</h2>
        <address class="not-italic font-sans">
          <p>
            <a href="https://goo.gl/maps/heXjzQc1vzjq1XvT8" target="_blank" rel="noopener" title="Google Maps öffnen" class="hover:underline hover:underline-offset-2">
              <strong>ZÜRIGÄRTNER GmbH</strong><br>
              Fuchsiastrasse 11<br>
              8048 Zürich
            </a>
          </p>
          <p>
            <a href="tel:0412011444" target="_blank" rel="noopener" title="Telefon 041 201 14 44" class="hover:underline hover:underline-offset-2">041 201 14 44</a><br>
            <a href="mailto:info@zürigärtner.ch" target="_blank" rel="noopener" title="E-Mail info@zürigärtner.ch" class="hover:underline hover:underline-offset-2">info@zürigärtner.ch</a><br>
            <a href="https://www.zürigärtner.ch" target="_blank" rel="noopener" title="Webseite zürigärtner.ch" class="hover:underline hover:underline-offset-2">www.zürigärtner.ch</a>
          </p>
        </address>
      </div>
      <div class="mt-30 md:mt-0 md:col-span-6 min-h-[240px] md:min-h-[400px]" id="map">

      </div>
    </div>
  </article>
</section>