<section>
  <div class="grid grid-cols-12">
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-garten-deko-wurzel.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-garten-sonnenschirme.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-gartenteich.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-hauseinweg-garten.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-skizze-garten.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-steingarten_aussensitz.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-steintreppe.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <img src="/assets/zuerigaertner-galerie-steinweg.jpg" width="256" height="190" alt="" class="block w-full h-auto">
    </figure>
  </div>
</section>