<section class="site-container py-30 md:py-40">
  <a name="referenzen" class="scroll-mt-80 md:scroll-mt-125"></a>
  <h1 class="text-evergreen">Referenzen</h1>
  <div class="grid grid-cols-12 gap-15">
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-garten-deko-wurzel.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-garten-deko-wurzel.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-garten-sonnenschirme.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-garten-sonnenschirme.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-gartenteich.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-gartenteich.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-haus-steinweg-garten.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-haus-steinweg-garten.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-skizze-garten.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-skizze-garten.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-steingarten-aussensitz.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-steingarten-aussensitz.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-steintreppe.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-steintreppe.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-steinweg.jpg" data-fancybox="gallery" title="Bild vergrössern">
        <img src="/assets/zuerigaertner-steinweg.jpg" width="256" height="190" alt="" class=" block w-full h-auto" loading="lazy">
      </a>
    </figure>
  </div>
</section>