<section class="site-container py-30 md:py-40">
  <a name="referenzen" class="scroll-mt-80 md:scroll-mt-125"></a>
  <h1 class="text-evergreen">Referenzen</h1>
  <div class="grid grid-cols-12 gap-15">
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-garten-deko-wurzel.jpg" data-fancybox="gallery" data-caption="Lorem">
        <img src="/assets/zuerigaertner-galerie-garten-deko-wurzel.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-garten-sonnenschirme.jpg" data-fancybox="gallery">
        <img src="/assets/zuerigaertner-galerie-garten-sonnenschirme.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-gartenteich.jpg" data-fancybox="gallery">
        <img src="/assets/zuerigaertner-galerie-gartenteich.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-hauseinweg-garten.jpg" data-fancybox="gallery">
        <img src="/assets/zuerigaertner-galerie-hauseinweg-garten.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-skizze-garten.jpg" data-fancybox="gallery">
        <img src="/assets/zuerigaertner-galerie-skizze-garten.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-steingarten_aussensitz.jpg" data-fancybox="gallery">
        <img src="/assets/zuerigaertner-galerie-steingarten_aussensitz.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-steintreppe.jpg" data-fancybox="gallery">
        <img src="/assets/zuerigaertner-galerie-steintreppe.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
    <figure class="col-span-6 md:col-span-3">
      <a href="/assets/zuerigaertner-galerie-steinweg.jpg" data-fancybox="gallery">
        <img src="/assets/zuerigaertner-galerie-steinweg.jpg" width="256" height="190" alt="" class=" block w-full h-auto">
      </a>
    </figure>
  </div>
</section>