<section class="site-container md:mb-40">
  <a name="angebot" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="mb-30">
    <h1 class="text-sand">Gartenkultur vom Fach</h1>
    <h2>Wir verwirklichen Ihre Gartenträume</h2>
    <p>Der eigene Garten ist ein wertvoller Lebensraum zum Wohlfühlen und Geniessen. Ein schöner Garten bedeutet Lebensqualität in höchstem Mass. Naturgärten zu planen und umzusetzen ist unsere grosse Leidenschaft. Die Freude Ihre Gartenträume zu realisieren, bildet die Grundlage für eine kompetente, professionelle Arbeit. Dank unserer langjährigen Erfahrung kennen wir alle Disziplinen des Gartenbaus, dabei stehen Biodiversität und Regionalität im Mittelpunkt. Für die Gartengestaltung geben wir einheimischen Pflanzen und Baumaterialien den Vorzug.</p>
    <p>Wir beraten und unterstützen Sie gerne mit unserer Expertise bei Ihrem nächsten Projekt.</p>
  </article>
  <article class="md:grid md:grid-cols-12 md:gap-15">
    <div class="bg-evergreen px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 min-h-[170px] md:min-h-auto">
      <h3 class="text-sand">Sie möchten Ihren Garten neu gestalten?</h3>
      <p class="text-white">Wir beraten Sie bei der Flächennutzung, den möglichen Materialien und dem geeigneten Pflanzenmix. Unsere Gestaltungsvorschläge (Visualisierungen) zeigen auf, wie sich Ideen und Wünsche verwirklichen lassen.</p>
    </div>
    <div class="bg-vanilla px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 min-h-[170px] md:min-h-auto">
      <h3 class="text-evergreen">Sie haben ein konkretes Gartenprojekt im Kopf?</h3>
      <p class="">Mit fachmännischer Beratung und Liebe zum Detail helfen wir Ihnen, dieses fachgerecht und budgetkonform umzusetzen.</p>
    </div>
    <div class="bg-evergreen md:bg-vanilla px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 min-h-[170px] md:min-h-auto">
      <h3 class="text-sand md:text-evergreen">Sie möchten Ihrem Garten eine regelmässige Pflege angedeihen lassen?</h3>
      <p class="text-white md:text-black">Nur ein gepflegter Garten ist ein schöner Garten. Wir kennen die Ansprüche und führen diese Arbeiten schnell, zuverlässig und in allen Bereichen für Sie aus.</p>
    </div>
    <div class="bg-vanilla md:bg-evergreen px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 min-h-[170px] md:min-h-auto">
      <h3 class="text-evergreen md:text-sand">Sie kümmern sich selbst um Ihren Garten und suchen dabei immer wieder neue Ideen?</h3>
      <p class="md:text-white">Wir zeigen Ihnen spezifische, massgeschneiderte, auf hohe Biodiversität ausgerichtete Möglichkeiten auf.</p>
    </div>
  </article>
</section>
<section class="bg-evergreen py-30 md:py-40 mt-30 md:mt-0 mb-30 md:mb-40">
  <figure class="site-container">
    <img src="/assets/zuerigaertner-steinmauer.jpg" width="1024" height="350" class=" block w-full h-auto" alt="Steinmauer" loading="lazy">
  </figure>
</section>