<section class="site-container mb-30 md:mb-40">
  <article class="mb-30">
    <h1 class="text-evergreen">Partner</h1>
    <h2>Ein Netzwerk für höchste Qualität</h2>
    <p>Eine gute Zusammenarbeit mit vertrauensvollen Partnern bietet uns die Möglichkeit Ihre Projekte noch effizienter und individueller zu gestalten. Es sollen regionale Qualität und Verbindung gefördert werden, damit wir für Sie Mehrwert schaffen können.</p>
  </article>
  <article>
    <figure>
      <a href="https://artgarten.ch/" target="_blank" title="Webseite Art Garten GmbH" rel="noopener">
        <img src="/assets/art-garten-logo.jpg" width="209" height="105" alt="Logo Art Garten" class="block w-[209px] h-auto" title="Art Garten GmbH">
      </a>
    </figure>
  </article>
</section>