<section class="site-container mb-30 md:mb-40">
  <a name="dienstleistungen" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="mb-30">
    <h1 class="text-evergreen">Dienstleistungen</h1>
    <h2>Wir kümmern uns um Ihren Garten</h2>
    <p>Wir kennen die Ansprüche an eine perfekte Gartenpflege. Gerne führen wir diese Arbeiten schnell und zuverlässig für Sie aus. Unsere Arbeit verstehen wir als vollumfänglichen Service, von der Ideenfindung bis zur periodischen Pflege – alles aus einer Hand. In den Bereichen Naturgarten, Wohngarten und Terrassen sind wir Spezialisten.</p>
  </article>
  <article class="md:grid md:grid-cols-12 md:gap-15">
    <div class="bg-evergreen px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 min-h-[170px] md:min-h-auto">
      <h3 class="text-sand">Alles aus einer hand</h3>
      <ul class="text-white list-disc ml-20">
        <li class="list-item">Planung und Konzeption</li>
        <li class="list-item">Grünflächen und Pflanzen</li>
        <li class="list-item">Mauern und Sichtschutz</li>
        <li class="list-item">Sitzplätze und Beläge</li>
        <li class="list-item">Pflegeservice</li>
      </ul>
    </div>
  </article>
</section>